body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1023px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u104 {
  position:absolute;
  left:-1px;
  top:-1px;
}
#u104_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:770px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1024px;
  height:768px;
  display:flex;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:770px;
  background:inherit;
  background-color:rgba(207, 210, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1024px;
  height:770px;
  display:flex;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:768px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-1px;
  width:846px;
  height:768px;
  display:flex;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:584px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:60px;
  width:430px;
  height:584px;
  display:flex;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:300px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:765px;
  height:300px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:771px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:-1px;
  width:653px;
  height:771px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:70px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:25px;
  width:65px;
  height:70px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:44px;
  width:106px;
  height:46px;
  display:flex;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#423075;
  text-align:center;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:181px;
  width:308px;
  height:240px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#423075;
  text-align:center;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(96, 75, 155, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:460px;
  width:285px;
  height:55px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(96, 75, 155, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:593px;
  width:285px;
  height:55px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(96, 75, 155, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:526px;
  width:285px;
  height:55px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:770px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u104_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1024px;
  height:768px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:769px;
  background:inherit;
  background-color:rgba(207, 210, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:769px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:846px;
  height:768px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:846px;
  height:768px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:769px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:1px;
  width:653px;
  height:769px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:70px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:25px;
  width:65px;
  height:70px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:44px;
  width:106px;
  height:46px;
  display:flex;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  text-align:center;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:257px;
  width:308px;
  height:280px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  text-align:center;
}
#u123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#4A4A49;
  text-align:center;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:192px;
  width:308px;
  height:50px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#4A4A49;
  text-align:center;
}
#u124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(96, 75, 155, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:561px;
  width:193px;
  height:55px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
