body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1023px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u295 {
  position:absolute;
  left:-1px;
  top:-1px;
}
#u295_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:773px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1024px;
  height:768px;
  display:flex;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:774px;
  background:inherit;
  background-color:rgba(207, 210, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:1024px;
  height:774px;
  display:flex;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:773px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1024px;
  height:773px;
  display:flex;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:774px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:-1px;
  width:719px;
  height:774px;
  display:flex;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:70px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:25px;
  width:65px;
  height:70px;
  display:flex;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:44px;
  width:106px;
  height:46px;
  display:flex;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  letter-spacing:2px;
  color:#0D5077;
}
#u301 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#4A4A49;
  text-align:center;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:220px;
  width:308px;
  height:200px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:29px;
  color:#4A4A49;
  text-align:center;
}
#u302 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(96, 75, 155, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:452px;
  width:193px;
  height:55px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#604B9B;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:772px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u295_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1024px;
  height:768px;
  display:flex;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:1024px;
  height:768px;
  display:flex;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:771px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1px;
  width:577px;
  height:771px;
  display:flex;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:772px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:539px;
  height:772px;
  display:flex;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:66px;
  background:inherit;
  background-color:rgba(96, 75, 155, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:556px;
  width:202px;
  height:66px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:142px;
  width:53px;
  height:42px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u309 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u309_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:213px;
  width:417px;
  height:294px;
  display:flex;
  font-family:'ComicSansMS', 'Comic Sans MS';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555555;
}
#u310 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:115px;
  width:172px;
  height:76px;
  display:flex;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
  font-family:'ComicSansMS-Bold', 'Comic Sans MS Bold', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:27px;
}
#u311 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
